.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 22px;
}

.Axis-Bottom text, .Axis-Left text {
  font-size: 11px;
  fill: black;
  font-weight: bold;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}